*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}




#preloader span{
    color: rgb(236, 229, 229);
}

#preloader{
    position: fixed;
    inset: 0;
    z-index: 9999999;
    display: flex;
    background-color: rgba(16, 22, 22, .7);
    justify-content: center;
    align-items: center;
}

.ring{
    height: 200px;
    width: 200px;
    border: 0px solid rgb(16, 22, 22);
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color: blueviolet;
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    0%{
          transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg) ;
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg) ;

    }
}

.ring:nth-child(2){
    border-right-width: 8px;
    border-color: rgb(80, 241, 39);
    animation: rotate2 2s linear infinite;
}
@keyframes rotate2{
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);

    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

.ring:nth-child(3){
    border-top-width: 8px;
    border-color: rgb(41, 172, 224);
    animation: rotate3 2s linear infinite;
}
@keyframes rotate3{
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);

    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}